<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-apple-pay-google-pay"
		version="1.0.0"
		xmlns="http://apache.org/cordova/ns/plugins/1.0">
	<name>ApplePayGooglePay</name>
	<js-module name="ApplePayGooglePay"
			   src="www/ApplePayGooglePay.js">
		<clobbers target="cordova.plugins.ApplePayGooglePay" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*"
					 target="config.xml">
			<feature name="ApplePayGooglePay">
				<param name="ios-package"
					   value="ApplePayGooglePay" />
			</feature>
		</config-file>
		<source-file src="src/ios/ApplePayGooglePay.swift" />
	</platform>
</plugin>
